.circle {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background: #8e8be6;
  align-items: center;
  margin-left: 70px;
}
