* {
  margin: 0px;
}

.brand-text {
  color: #8e8be6;
}

.container {
  margin-bottom: 20px;


.btn-grad {
  background-image: linear-gradient(
    to right,
    #cf6ac6 0%,
    #9733ee 51%,
    #8e8be6 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;

}
